@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink: hsl(322, 100%, 66%);
  --pale-cyen: hsl(193, 100%, 96%);
  --dark-cyen: hsl(192, 100%, 9%);
  --gray-blue: hsl(208, 11%, 55%);
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-color: var(--pale-cyen);
}
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
  display: block;
}

.bg-hero {
  background: url(images/bg-hero-desktop.svg) no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

header {
  padding: 4rem 10rem 0 10rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 999;
}
.header-btn button {
  width: 260px;
  box-shadow: 0 0 0.4rem var(--gray-blue);
  background-color: white;
  padding: 15px 0;
  border: none;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  color: var(--gray-cyen);
}
.header-btn:hover button {
  color: var(--gray-blue);
}
main {
  padding: 7rem 10rem 8rem 10rem;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  gap: 10px;
}
main .disc {
  width: 45%;
  align-self: center;
}

main .img {
  width: 55%;
  height: 90%;
}

.disc h1 {
  font-size: 2.7em;
  font-weight: 600;
  color: var(--dark-cyen);
  padding: 10px 0;
  margin-bottom: 20px;
  width: 85%;
}

.disc p {
  color: var(--dark-cyen);
  line-height: 1.7;
  width: 73%;
  padding: 10px 0;
  margin-bottom: 20px;
}
.disc .disc-btn {
  width: 40%;
  margin-top: 20px;
}
.disc button {
  width: 100%;
  padding: 20px 10px;
  border-radius: 2rem;
  border: none;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  background-color: var(--pink);
  color: white;
}
.disc-btn:hover button {
  background-color: hsl(322deg 100% 66% / 70%);
}


section {
  padding: 7rem 10rem 8rem 10rem;
  background-color: white;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.cards {
  padding: 100px 59px 200px 59px;
}
.card {
  display: flex;
  height: 500px;
  margin-bottom: 40px;
  padding: 55px 55px 55px 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}
.card .card-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.card .card-img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.card:nth-child(2) .card-img {
  justify-content: flex-start;
}
.card .card-img img {
  height: 90%;
}
.card h2 {
  color: var(--dark-cyen);
  font-size: 2em;
  font-weight: 600;
}
.card p {
  width: 77%;
  color: var(--gray-blue);
}
footer {
  background-color: var(--dark-cyen);
  padding: 150px 70px 70px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 14px;
  position: relative;
}
footer .logo {
  margin-bottom: 40px;
}
footer .contact {
  max-width: 350px;
  width: 100%;
  margin-right: 8em;
}
footer .contact p{
  margin: 20px 0;
  display: flex;
  align-items: flex-start;
}
footer .contact p img {
  height: 14px;
  margin-right: 15px;
  margin-top: 3px;
  display: inline;
}
footer .footer-links{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%; 
  height: 180px;
  
}
.footer-links .links{
  display: flex;
  flex-direction: column;
}
.footer-links a{
  text-decoration: none;
  color: white;
  margin-bottom: 15px;
}
.links a{
  font-size: 18px;
  margin-bottom: 20px;
}
.socials{
  font-size: 30px;
}
.socials a{
  border-radius: 50%;
}
.socials i{
  padding: 0 10px;

}
.socials i:hover{
  color: var(--pink);
}
.copyright{
  position: absolute;
  right: 60px;
  bottom: 30px;
  font-size: 13px;
}
.cta{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  max-width: 800px;
  padding: 70px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 545;
  background-color: white;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
}
.cta h2{
  margin-bottom: 20px;
}
.cta button {
  width: 50%;
  padding: 20px 10px;
  border-radius: 2rem;
  border: none;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  background-color: var(--pink);
  color: white;
}
.cta button:hover {
  background-color: hsl(322deg 100% 66% / 70%);
}